/*------------------estilos purple------------------*/

.bg-admin-purple {
    background-color: #800080;
}

.text-purple {
    color: #800080;
    text-transform: none !important;
}

.btn-purple {
    background-color: #800080;
    color: white;
}

.btn-purple:hover {
    background-color: #800080;
    color: white;
}

.btn-outline-purple {
    background-color: white;
    color: #800080;
    border-color: #800080;
}

.btn-outline-purple:hover {
    background-color: #800080;
    color: white;
    border-color: #800080;
}

.border-purple {
    border-color: #800080 !important;
}
/*-----------outros estilos---------------*/

.form-nonresize{
    resize: none !important;
}

.text-black{
    color: #202020 !important;
}