/*------------------estilos purple------------------*/

.bg-admin-purple {
    background-color: #800080;
}

.text-purple {
    color: #800080 !important;
    text-transform: none !important;
}

.btn-purple {
    background-color: #800080;
    color: white;
}

.btn-purple:hover {
    background-color: #800080;
    color: white;
}

.btn-outline-purple {
    background-color: white;
    color: #800080;
    border-color: #800080;
}

.btn-outline-purple:hover {
    background-color: #800080;
    color: white;
    border-color: #800080;
}

.border-purple {
    border-color: #800080 !important;
}
/*-----------outros estilos---------------*/

.bg-modal {
    background-color: #800080b2;
    color: white;
}

.btn-modal {
    background-color: transparent;
    border-color: white;
    color: white;
}

.btn-modal:hover {
    background-color: white;
    border-color: white;
    color: #800080;
}

.form-nonresize {
    resize: none !important;
}

.associado.nav-link {
    color: #800080 !important;
}
.associado.nav-link:active {
    background-color: #800080 !important;
    color: white !important;
}
.text-black{
    color: #202020 !important;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff !important;
    background-color: #800080 !important;
}

.nav-pills .nav-link {
    border-radius: 0 !important;
    border-radius: none !important;
}