.bg-login-purple {
    background-color: #800080;
}

.btn-login-purple {
    background-color: #800080;
    color: white;
}


.text-purple {
    color: #800080;
}

.btn-login-purple:hover {
    background-color: white;
    border-color: #800080;
    color: #800080;
}

.bg-login-m {
    background-color: #800080b2;
}

.btn-login-m {
    background-color: transparent;
    border-color: white;
    color: white;
}

.btn-login-m:hover {
    background-color: white;
    border-color: white;
    color: #800080;
}

@media(max-width: 900px){

    #teste a {
        display: block;
        position: absolute;
        bottom: 48px;

        left: 50%;
        transform: translateX(-50%); /*mexe o elemento no eixo x*/
    }
}